<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dobrinski Wedding</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" type="image/x-icon" href="/willowbendLogoSmall.jpg" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC|Great+Vibes|Cormorant' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

  </head>
  <body ng-app="dobrinskiToBe">
    <a href="#!/home">
      <div class="autoplay">
        <div>
          <img class="bannerImg highlightImage" src="/banner5.jpg">
        </div>
        <div>
          <img class="bannerImg highlightImage" src="/banner1.jpg">
        </div>
        <div>
          <img class="bannerImg highlightImage" src="/banner2.jpg">
        </div>
        <div>
          <img class="bannerImg highlightImage" src="/banner3.jpg">
        </div>
        <div>
          <img class="bannerImg highlightImage" src="/banner4.jpg">
        </div>
      </div>
      <div class="col-xs-12 dateDisplay googlefont2 text-center">
        <p style="font-size: 1.5em">August 26, 2017</p>
      </div>
    </a>
    <div class="col-xs-12 navBar googlefont1">
      <a href="#!/photos">
        <div class="col-xs-3 navPiece text-center">
          <p>Photos<p>
        </div>
      </a>
      <a href="#!/events">
        <div class="col-xs-3 navPiece text-center">
          <p>Events<p>
        </div>
      </a>
      <a href="#!/travel">
        <div class="col-xs-3 navPiece text-center">
          <p>Travel<p>
        </div>
      </a>
      <a href="#!/registry">
        <div class="col-xs-3 navPiece text-center">
          <p>Registry<p>
        </div>
      </a>
    </div>

    <%- flash.each do |key, value| -%>
    <div class="text-center flash flash-<%= key %>">
      <h5 class="googlefont1"><%= value %></h5>
    </div>
    <%- end -%>

    <br />

    <ui-view></ui-view>

    <br />

    <div class="col-xs-12 footerBar">
      <div class="col-xs-3 footerPiece">
      </div>
      <div class="col-xs-6 footerPiece text-center">
        <div class="pad-top">
          <p class="googlefont1" style="font-size:.6em;">Ryan&nbsp; &&nbsp; Meghan</p>
        </div>
      </div>
      <div class="col-xs-3 footerPiece">
      </div>
    </div>

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

  </body>
</html>
